material/tables/main-tblr-run.aux
material/tables/main-tblr-run.bbl
material/tables/main-tblr-run.blg
material/tables/main-tblr-run.log
material/tables/main-tblr-run.synctex.gz

material/tables/tblr-performance-header.tex
material/tables/tblr-performance.tex
